<div class="row">
    <div class="column-12">
        <div>
            <label><input type="checkbox" />Wheel chair accessible</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="column-12">
        <div>
            <label><input type="checkbox" />Special learning needs trained educators</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="column-12">
        <div>
            <label><input type="checkbox" />Not affiliated to religeous origanzation</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="column-12">
        <div>
            <label><input type="checkbox" />Not for profit</label>
        </div>
    </div>
</div>