
<!--ROW START-->
<div class="row">
    <div class="column-12">
        <span>&nbsp;</span>
    </div>
</div>
<!--ROW START-->
<div class="row">
    <div class="column-12">
        <span>&nbsp;</span>
    </div>
</div>
<!--ROW START-->
<div class="row">
    <div class="column-12 subHeaderCenter">
        <span>AAYA is an innovative platform which aims to reduce a parent's stress and costs related to childcare. </span>
    </div>
</div>
<!--ROW START-->
<div class="row">
    <div class="column-12">
        <span>&nbsp;</span>
    </div>
</div>
<div>
    <div class="column-2">
        <span>&nbsp;</span>
    </div>
    <div class="column-6" style="text-align: left;">
        <span>select a suburb</span>
    </div>
    <div class="column-3">
        <span>&nbsp;</span>
    </div>
</div>
<div class="row">
    <div class="column-2">
        <span>&nbsp;</span>
    </div>
    <div class="column-6">
        <div>
            <select ng-model="vm.selected" placeholder="select a suburb">
                <option>NORTH RYDE</option>
                <option>PARRAMATTA</option>
                <option>BONDI</option>
                <option>CHATSWOOD</option>
                <option>GYMEA</option>
                <option>HURSTVILLE</option>
                <option>NORTH SYDNEY</option>
                <option>SYDNEY</option>
                <option>CRONULLA</option>
                <option>MIRANDA</option>
                <option>KOGRAH</option>
                <option>KINGSFORD</option>
                <option>ANNANDALE</option>
            </select>
        </div>
    </div>
    <div class="column-4">
        <a ng-click="vm.getAllChildCareCentersForSelectedSuburb()"><i class="fa fa-search fa-2x"></i></a>
    </div>

</div>
<!--ROW END-->
<!--ROW START-->
<div class="row">
    <div class="column-12">
        <img src="../Images/AAYA2.PNG" style="max-width: 100%; height: auto;"/>
    </div>
</div>
<div class="row">
    <div class="column-12">
        <img src="../Images/AAYA3.PNG" style="max-width: 100%; height: auto;" />
    </div>
</div>

<!--ROW START-->
<div class="row">
    <div class="column-12">
        <span>&nbsp;</span>
    </div>
</div>