@{
    ViewBag.Title = "Home";
}
<!--UI SELECT REFERENCE-->
<link href="~/Content/ui-select/select.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2-bootstrap.css" rel="stylesheet" />

<script src="~/Scripts/angular-ui/ui-select/select.js"></script>
<div ui-view></div>