<!--MENU REFERENCE-->
<link href="~/Content/mobilemenu.css" rel="stylesheet"/>

<div id="colorbar">
</div>
<div class="cover"></div>
<div>
    @Html.Partial("../Partial/_mobilemenu")
</div>
<div class="contentWrapper">
    <section>
        <div class="uppercontent">
            <div ui-view></div>
        </div>
    </section>
</div>